html{
    font-size: 150%;
}

.search-button {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f0533f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-color: transparent;
    margin-right: 10px;
    background-image: url("../assets/search.png");
    background-position: center;
    background-repeat: no-repeat;
}

.search-box {
    border-color: white;
    background-color: white;
    width: 350px;
    height: 65px;
    border-radius: 40px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    margin: 0 10px 0 10px;
}

.vh-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-center-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    width: 240px;
    margin-left: 10px;
}

.navbar {
    border-bottom: solid;
    border-bottom-color: #f0533f;
    width: 100%;
}

.banner {
    background-image: url("../assets/Grupo_2293.png"), url("../assets/Grupo_2294.png"),
        url("https://source.unsplash.com/random/1920x1080");
    background-position: 200px center, top left, center;
    background-repeat: no-repeat;
    height: 500px;
}

.banner-2 {
    background-color: black;
    background-image: url("../assets/Grupo_2294(1).png"), url("../assets/Grupo_2294.png");
    background-position: bottom right, top left;
    background-repeat: no-repeat;
    padding: 0%;
}

.letra-poppins {
    font-family: "Poppins", "Times New Roman", Times, serif;
}

.letra-baskerville {
    font-family: "Baskerville", "Times New Roman", Times, serif;
}

.btn {
    background-color: #c4c4a5;
    border-radius: 40px;
    width: 10rem;
}

.box-sub {
    width: 30rem;
    background-color: transparent;
}

.container{
    width: 100%;
}

.logo-naranja{
    background-image: url("../assets/Grupo_2073.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 82px;
    height: 82px;
}

.logo-blanco{
    background-image: url("../assets/Grupo_2337.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 121px;
    height: 121px;

}

.img1{
    background-image: url("https://source.unsplash.com/random/148x444");
    background-position: center;
    background-repeat: no-repeat;
    height: 444px;
    width: 148px;
    border-radius: 10px;
}

.img-ubicacion{
    background-image: url("../assets/Grupo_2072.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 21px;
    width: 17px;
}

.img2{
    background-image: url("https://source.unsplash.com/random/296x444");
    background-position: center;
    background-repeat: no-repeat;
    height: 444px;
    width: 296px;
    border-radius: 10px;
}

.img3{
    background-image: url("https://source.unsplash.com/random/444x444");
    background-position: center;
    background-repeat: no-repeat;
    height: 444px;
    width: 444px;
    border-radius: 10px;
}

footer{
    background-color: #fc7665;
}

.footer2{
    background-color: #f0533f;
    padding: 0%;
}

img-mr-menu{
    background-image: url("../assets/Grupo_2337.png");
    background-position: center left;
    background-repeat: no-repeat;
    height: 300px;
    width: 100px;
    align-content: center;
    border-radius: 10px;
}

.title-menu{
    border-bottom: solid;
    border-bottom-color: white;
}

.item-menu{
    padding: 5px;
}

.bt-lang{
    background-color: transparent;
    border-color: white;
    width: 4rem;
}

.container{
    width:100%;
}